In [32]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import pandas as pd
import pymongo
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

In [33]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/46044/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

In [34]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

# Retrieve the latest news title and paragraph
news_title = soup.find_all('div', class_='content_title')[0].text
news_p = soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print(news_p)

NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

In [35]:
# Mars Image to be scraped
space_image_url = 'https://spaceimages-mars.com'
featured_image_url = 'https://spaceimages-mars.com/image/featured/mars3.jpg'
browser.visit(featured_image_url)
html = browser.html
images_soup = bs(html, 'html.parser')
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [36]:
# Mars facts to be scraped, converted into html table
facts_url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(facts_url)
mars_facts_df = tables[0]
mars_facts_df.columns = ["Facts","Mars", "Earth"]
mars_html_table = mars_facts_df.to_html()
#mars_html_table.replace('\n', '')
mars_facts_df.head()

                     Facts             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [37]:
mars_facts_df = mars_facts_df.drop(mars_facts_df.index[0])
mars_facts_df = mars_facts_df.reset_index(drop=True)
mars_facts_df.head()

                Facts             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days

In [38]:
mars_hemisphere = 'https://marshemispheres.com/'
browser.visit(mars_hemisphere)

In [39]:
mars_hemisphere_url = browser.html
soup = bs(mars_hemisphere_url, 'html.parser')

In [43]:
hemisphere_titles = soup.find('div', class_='collapsible results')
items = hemisphere_titles.find_all('div', class_='item')

In [41]:
hemisphere_url="https://marshemispheres.com/"
browser.visit(hemisphere_url)
html = browser.html
hemisphere_soup = bs(html, 'html.parser')

hemisphere_urls = []
hemispheres = hemisphere_soup.find_all('div', class_='item')

for hemisphere in hemispheres:
    name = hemisphere.find('h3').text[:-9]
    hemisphere_link = hemisphere.find('a')['href']
    url = hemisphere_url + hemisphere_link
    browser.visit(url)
    html = browser.html
    hemisphere_soup = bs(html, 'html.parser')
    h_img = hemisphere_soup.find('img',class_='wide-image')
    h_img_link = h_img['src']
    hemisphere_dict = {'Title': name ,'image_url':hemisphere_url + h_img_link}
    hemisphere_urls.append(hemisphere_dict)
hemisphere_urls

[{'Title': 'Cerberus Hemisphere',
  'image_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere',
  'image_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere',
  'image_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere',
  'image_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]